@import url("https://fonts.googleapis.com/css2?family=Miniver&display=swap");

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styling for whole site */
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: 8px;
  background: #f3961c;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #3b141c;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .nav-logo .logo-text {
  color: white;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}
/* 
.navbar .nav-menu .nav-item {
  border: 1px solid black;
} */

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: #3b141c;
  background: rgba(255, 166, 0, 0.89);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

/* Hero Section */
.hero-section {
  min-height: 100vh;
  background: #3b141c;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: white;
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: 2.3rem;
  color: orange;
  font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
  font-size: 2rem;
  margin-top: 8px;
  max-width: 70%;
  font-weight: bold;
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 1.12rem;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: #3b141c;
  border-radius: 30px;
  background: rgba(255, 166, 0, 0.89);
  font-weight: 500;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
  background: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.3s ease;
}

.hero-section .hero-details .contact-us:hover {
  background: rgba(255, 166, 0, 0.89);
  border-color: rgba(255, 166, 0, 0.89);
  color: #3b141c;
}

/* About Section*/
.about-section {
  padding: 120px 0;
  background: #faf4f5;
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.1rem;
}

.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-section .social-link-list .social-link {
  color: #3b141c;
  font-size: 1.5rem;
  transition: 0.2 ease;
}

.about-section .social-link-list .social-link:hover {
  color: #f3961c;
}

/* Menu section */
.menu-section {
  color: white;
  background: #252525;
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 110px;
  justify-content: space-between;
}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.menu-section .menu-list .menu-item .name {
  font-size: 1.5rem;
  margin: 12px 0;
  font-weight: semibold;
}

.menu-section .menu-list .menu-item .text {
  font-size: 1.1rem;
}

/* Testimonials section styling*/
.testimonials-section {
  padding: 50px 0 100px;
  background: #faf4f5;
}

.testimonials-section .slider-wrapper {
  overflow: hidden;
  margin: 0 60px 50px;
}

.testimonials-section .testimonial {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  text-align: center;
}

.testimonials-section .testimonial .user-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 50px;
}

.testimonials-section .testimonial .name {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.testimonials-section .testimonial .feedback {
  line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #f3961c;
}

.testimonials-section .swiper-slide-button {
  color: #f3961c;
  transition: 0.3s ease;
  margin-top: -50px;
}

.testimonials-section .swiper-slide-button:hover {
  color: #3b141c;
}

/* Gallery section */
.gallery-section {
  padding: 50px 0 100px;
}

.gallery-section .gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
  overflow: hidden;
  border-radius: 8px;
  width: calc(100% / 3 - 32px);
}

.gallery-section .gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
  transform: scale(1.3);
}

/* Contact section styling */
.contact-section {
  padding: 50px 0 100px;
  background: #faf4f5;
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: 1.1rem;
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-section .contact-form {
  max-width: 50%;
}

.contact-section .contact-form .form-input:focus {
  border-color: #f3961c;
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  margin: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  background: #3b141c;
  border-radius: 30px;
  border: 1px solid #3b141c;
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
  background: transparent;
  color: #3b141c;
}

/* Footer section*/
.footer-section {
  padding: 20px 0;
  background: #252525;
}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: white;
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: 1.5rem;
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: #f3961c;
}

.footer-section .policy-text .separator {
  margin: 0 5px;
  color: white;
}

/* Responsive media query code for max width 1024px */
@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }

  .hero-section {
    padding-top: 70px;
  }
}

/* Mobile Screen*/
/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    display: block;
    font-size: 1.3rem;
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar #menu-open-button {
    color: white;
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background: white;
    transform: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: black;
    display: block;
    margin-top: 17px;
    font-size: 1.5rem;
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.subtitle, .description),
  .about-section .about-details,
  .contact-section .contact-form {
    max-width: 100%;
  }

  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  /* About section on mobile view screen */
  .about-section .section-content {
    gap: 70px;
    flex-direction: column;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  .menu-section .menu-list {
    gap: 30px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }

  .menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
  }

  .gallery-section .gallery-list .gallery-item {
    width: calc(100% / 2 - 30px);
  }

  .gallery-section .gallery-list {
    gap: 30px;
  }

  .contact-section .section-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item,
  .gallery-section .gallery-list .gallery-item {
    width: 100%;
  }

  .testimonials-section .slider-wrapper {
    margin: 0 0 30px;
  }

  .testimonials-section .swiper-slide-button {
    display: none;
  }

  .footer-section .section-content {
    flex-direction: column;
    gap: 20px;
  }
}
